html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

:root{
    /* NAVBAR */
    --nav-bg: linear-gradient(90deg, #bababa 0%, #f4faef 50%, #d0edc1 100%);
    --nav-color: black;

    /* HEADER SECTION */
    --header-bg: linear-gradient(90deg, #FFD6E0, #E0BBE4, #D0F0C0);
    --header-color: black;

    /* PRODUCTS IN SECTION*/
    --product-title: #2d880c;
    --product-btn-addToCart: #9673ac;
    --product-btn-color: #000000;

    /* SEARCH IN SECTION */
    --search-bg: rgb(128, 237, 69);
    --search-bgTransp: rgba(33, 80, 8, 0.402);
    --search-bgHover: #2d880c;
    /* --search-bg: #2e7d32; */
    --search-color: white;
    --search-hover: #42d40d;

    /* MENU IN SECTION */
    --menu-section: linear-gradient(90deg, #bababa 0%, #f4faef 50%, #d0edc1 100%);
    --menu-color: black;
    --menu-hover: #42d40d;

    /* FOOTER */
    --footer-bg: linear-gradient(90deg, #FFD6E0, #E0BBE4, #D0F0C0);
    --footer-color: black;
    --fooLinea-bg: linear-gradient(90deg, #bababa 0%, #f4faef 50%, #d0edc1 100%);
    --fooLinea-color: black;

    /* GLOBALES */
    /* BADGED PRODUCTS */
    --badge-bg:#183f0ab9;
    --badge-color: white;

}